<!DOCTYPE html>
<html>
  <head>
    <title>CrookedDees</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-brand" href="#">CrookedDees</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'class="nav-link"' %>
        </li>
        <% if logged_in? %>
        <li>
          <%= link_to 'My Appointments', appointments_path %>
        </li>
        <% if current_user.is_admin? %>
          <li>
            <%= link_to 'Admin', admin_appointments_path %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Logout', session_path(current_user), method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to 'Sign Up', new_user_path %>
        </li>
        <li>
          <%= link_to 'Log in', new_session_path %>
        </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
